/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$circle-api_x = 452px;
$circle-api_y = 996px;
$circle-api_offset_x = -452px;
$circle-api_offset_y = -996px;
$circle-api_width = 278px;
$circle-api_height = 278px;
$circle-api_total_width = 1509px;
$circle-api_total_height = 1355px;
$circle-api_image = 'images/sprite.png';
$circle-api = 452px 996px -452px -996px 278px 278px 1509px 1355px 'images/sprite.png';
$circle-document_x = 730px;
$circle-document_y = 996px;
$circle-document_offset_x = -730px;
$circle-document_offset_y = -996px;
$circle-document_width = 278px;
$circle-document_height = 278px;
$circle-document_total_width = 1509px;
$circle-document_total_height = 1355px;
$circle-document_image = 'images/sprite.png';
$circle-document = 730px 996px -730px -996px 278px 278px 1509px 1355px 'images/sprite.png';
$header-1_x = 1033px;
$header-1_y = 470px;
$header-1_offset_x = -1033px;
$header-1_offset_y = -470px;
$header-1_width = 226px;
$header-1_height = 359px;
$header-1_total_width = 1509px;
$header-1_total_height = 1355px;
$header-1_image = 'images/sprite.png';
$header-1 = 1033px 470px -1033px -470px 226px 359px 1509px 1355px 'images/sprite.png';
$header-2_x = 1259px;
$header-2_y = 470px;
$header-2_offset_x = -1259px;
$header-2_offset_y = -470px;
$header-2_width = 226px;
$header-2_height = 359px;
$header-2_total_width = 1509px;
$header-2_total_height = 1355px;
$header-2_image = 'images/sprite.png';
$header-2 = 1259px 470px -1259px -470px 226px 359px 1509px 1355px 'images/sprite.png';
$header-3_x = 0px;
$header-3_y = 996px;
$header-3_offset_x = 0px;
$header-3_offset_y = -996px;
$header-3_width = 226px;
$header-3_height = 359px;
$header-3_total_width = 1509px;
$header-3_total_height = 1355px;
$header-3_image = 'images/sprite.png';
$header-3 = 0px 996px 0px -996px 226px 359px 1509px 1355px 'images/sprite.png';
$header-4_x = 226px;
$header-4_y = 996px;
$header-4_offset_x = -226px;
$header-4_offset_y = -996px;
$header-4_width = 226px;
$header-4_height = 359px;
$header-4_total_width = 1509px;
$header-4_total_height = 1355px;
$header-4_image = 'images/sprite.png';
$header-4 = 226px 996px -226px -996px 226px 359px 1509px 1355px 'images/sprite.png';
$map-1-1_x = 0px;
$map-1-1_y = 0px;
$map-1-1_offset_x = 0px;
$map-1-1_offset_y = 0px;
$map-1-1_width = 1033px;
$map-1-1_height = 498px;
$map-1-1_total_width = 1509px;
$map-1-1_total_height = 1355px;
$map-1-1_image = 'images/sprite.png';
$map-1-1 = 0px 0px 0px 0px 1033px 498px 1509px 1355px 'images/sprite.png';
$map-2-1_x = 0px;
$map-2-1_y = 498px;
$map-2-1_offset_x = 0px;
$map-2-1_offset_y = -498px;
$map-2-1_width = 1033px;
$map-2-1_height = 498px;
$map-2-1_total_width = 1509px;
$map-2-1_total_height = 1355px;
$map-2-1_image = 'images/sprite.png';
$map-2-1 = 0px 498px 0px -498px 1033px 498px 1509px 1355px 'images/sprite.png';
$plane_x = 1033px;
$plane_y = 829px;
$plane_offset_x = -1033px;
$plane_offset_y = -829px;
$plane_width = 83px;
$plane_height = 74px;
$plane_total_width = 1509px;
$plane_total_height = 1355px;
$plane_image = 'images/sprite.png';
$plane = 1033px 829px -1033px -829px 83px 74px 1509px 1355px 'images/sprite.png';
$red-label_x = 1033px;
$red-label_y = 0px;
$red-label_offset_x = -1033px;
$red-label_offset_y = 0px;
$red-label_width = 476px;
$red-label_height = 470px;
$red-label_total_width = 1509px;
$red-label_total_height = 1355px;
$red-label_image = 'images/sprite.png';
$red-label = 1033px 0px -1033px 0px 476px 470px 1509px 1355px 'images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
