/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$ball-left_x = 1159px;
$ball-left_y = 1466px;
$ball-left_offset_x = -1159px;
$ball-left_offset_y = -1466px;
$ball-left_width = 119px;
$ball-left_height = 252px;
$ball-left_total_width = 2942px;
$ball-left_total_height = 2140px;
$ball-left_image = 'images/sprite.png';
$ball-left = 1159px 1466px -1159px -1466px 119px 252px 2942px 2140px 'images/sprite.png';
$ball-right_x = 1824px;
$ball-right_y = 996px;
$ball-right_offset_x = -1824px;
$ball-right_offset_y = -996px;
$ball-right_width = 126px;
$ball-right_height = 267px;
$ball-right_total_width = 2942px;
$ball-right_total_height = 2140px;
$ball-right_image = 'images/sprite.png';
$ball-right = 1824px 996px -1824px -996px 126px 267px 2942px 2140px 'images/sprite.png';
$car_x = 2173px;
$car_y = 161px;
$car_offset_x = -2173px;
$car_offset_y = -161px;
$car_width = 15px;
$car_height = 10px;
$car_total_width = 2942px;
$car_total_height = 2140px;
$car_image = 'images/sprite.png';
$car = 2173px 161px -2173px -161px 15px 10px 2942px 2140px 'images/sprite.png';
$circle-api_x = 326px;
$circle-api_y = 1466px;
$circle-api_offset_x = -326px;
$circle-api_offset_y = -1466px;
$circle-api_width = 278px;
$circle-api_height = 278px;
$circle-api_total_width = 2942px;
$circle-api_total_height = 2140px;
$circle-api_image = 'images/sprite.png';
$circle-api = 326px 1466px -326px -1466px 278px 278px 2942px 2140px 'images/sprite.png';
$circle-document_x = 881px;
$circle-document_y = 1466px;
$circle-document_offset_x = -881px;
$circle-document_offset_y = -1466px;
$circle-document_width = 278px;
$circle-document_height = 278px;
$circle-document_total_width = 2942px;
$circle-document_total_height = 2140px;
$circle-document_image = 'images/sprite.png';
$circle-document = 881px 1466px -881px -1466px 278px 278px 2942px 2140px 'images/sprite.png';
$circle-rocket_x = 604px;
$circle-rocket_y = 1466px;
$circle-rocket_offset_x = -604px;
$circle-rocket_offset_y = -1466px;
$circle-rocket_width = 277px;
$circle-rocket_height = 278px;
$circle-rocket_total_width = 2942px;
$circle-rocket_total_height = 2140px;
$circle-rocket_image = 'images/sprite.png';
$circle-rocket = 604px 1466px -604px -1466px 277px 278px 2942px 2140px 'images/sprite.png';
$cloud-1_x = 2008px;
$cloud-1_y = 0px;
$cloud-1_offset_x = -2008px;
$cloud-1_offset_y = 0px;
$cloud-1_width = 934px;
$cloud-1_height = 161px;
$cloud-1_total_width = 2942px;
$cloud-1_total_height = 2140px;
$cloud-1_image = 'images/sprite.png';
$cloud-1 = 2008px 0px -2008px 0px 934px 161px 2942px 2140px 'images/sprite.png';
$cloud-2_x = 0px;
$cloud-2_y = 1781px;
$cloud-2_offset_x = 0px;
$cloud-2_offset_y = -1781px;
$cloud-2_width = 1265px;
$cloud-2_height = 204px;
$cloud-2_total_width = 2942px;
$cloud-2_total_height = 2140px;
$cloud-2_image = 'images/sprite.png';
$cloud-2 = 0px 1781px 0px -1781px 1265px 204px 2942px 2140px 'images/sprite.png';
$cloud-3_x = 0px;
$cloud-3_y = 1985px;
$cloud-3_offset_x = 0px;
$cloud-3_offset_y = -1985px;
$cloud-3_width = 1044px;
$cloud-3_height = 155px;
$cloud-3_total_width = 2942px;
$cloud-3_total_height = 2140px;
$cloud-3_image = 'images/sprite.png';
$cloud-3 = 0px 1985px 0px -1985px 1044px 155px 2942px 2140px 'images/sprite.png';
$family_x = 1033px;
$family_y = 0px;
$family_offset_x = -1033px;
$family_offset_y = 0px;
$family_width = 975px;
$family_height = 472px;
$family_total_width = 2942px;
$family_total_height = 2140px;
$family_image = 'images/sprite.png';
$family = 1033px 0px -1033px 0px 975px 472px 2942px 2140px 'images/sprite.png';
$green-label_x = 1509px;
$green-label_y = 472px;
$green-label_offset_x = -1509px;
$green-label_offset_y = -472px;
$green-label_width = 476px;
$green-label_height = 470px;
$green-label_total_width = 2942px;
$green-label_total_height = 2140px;
$green-label_image = 'images/sprite.png';
$green-label = 1509px 472px -1509px -472px 476px 470px 2942px 2140px 'images/sprite.png';
$grey-label_x = 1033px;
$grey-label_y = 472px;
$grey-label_offset_x = -1033px;
$grey-label_offset_y = -472px;
$grey-label_width = 476px;
$grey-label_height = 470px;
$grey-label_total_width = 2942px;
$grey-label_total_height = 2140px;
$grey-label_image = 'images/sprite.png';
$grey-label = 1033px 472px -1033px -472px 476px 470px 2942px 2140px 'images/sprite.png';
$header-1_x = 1378px;
$header-1_y = 1781px;
$header-1_offset_x = -1378px;
$header-1_offset_y = -1781px;
$header-1_width = 113px;
$header-1_height = 180px;
$header-1_total_width = 2942px;
$header-1_total_height = 2140px;
$header-1_image = 'images/sprite.png';
$header-1 = 1378px 1781px -1378px -1781px 113px 180px 2942px 2140px 'images/sprite.png';
$header-2_x = 1491px;
$header-2_y = 1781px;
$header-2_offset_x = -1491px;
$header-2_offset_y = -1781px;
$header-2_width = 113px;
$header-2_height = 180px;
$header-2_total_width = 2942px;
$header-2_total_height = 2140px;
$header-2_image = 'images/sprite.png';
$header-2 = 1491px 1781px -1491px -1781px 113px 180px 2942px 2140px 'images/sprite.png';
$header-3_x = 1807px;
$header-3_y = 1466px;
$header-3_offset_x = -1807px;
$header-3_offset_y = -1466px;
$header-3_width = 113px;
$header-3_height = 180px;
$header-3_total_width = 2942px;
$header-3_total_height = 2140px;
$header-3_image = 'images/sprite.png';
$header-3 = 1807px 1466px -1807px -1466px 113px 180px 2942px 2140px 'images/sprite.png';
$header-4_x = 1265px;
$header-4_y = 1781px;
$header-4_offset_x = -1265px;
$header-4_offset_y = -1781px;
$header-4_width = 113px;
$header-4_height = 180px;
$header-4_total_width = 2942px;
$header-4_total_height = 2140px;
$header-4_image = 'images/sprite.png';
$header-4 = 1265px 1781px -1265px -1781px 113px 180px 2942px 2140px 'images/sprite.png';
$map-1-1_x = 0px;
$map-1-1_y = 498px;
$map-1-1_offset_x = 0px;
$map-1-1_offset_y = -498px;
$map-1-1_width = 1033px;
$map-1-1_height = 498px;
$map-1-1_total_width = 2942px;
$map-1-1_total_height = 2140px;
$map-1-1_image = 'images/sprite.png';
$map-1-1 = 0px 498px 0px -498px 1033px 498px 2942px 2140px 'images/sprite.png';
$map-2-1_x = 0px;
$map-2-1_y = 0px;
$map-2-1_offset_x = 0px;
$map-2-1_offset_y = 0px;
$map-2-1_width = 1033px;
$map-2-1_height = 498px;
$map-2-1_total_width = 2942px;
$map-2-1_total_height = 2140px;
$map-2-1_image = 'images/sprite.png';
$map-2-1 = 0px 0px 0px 0px 1033px 498px 2942px 2140px 'images/sprite.png';
$map_x = 476px;
$map_y = 996px;
$map_offset_x = -476px;
$map_offset_y = -996px;
$map_width = 1024px;
$map_height = 435px;
$map_total_width = 2942px;
$map_total_height = 2140px;
$map_image = 'images/sprite.png';
$map = 476px 996px -476px -996px 1024px 435px 2942px 2140px 'images/sprite.png';
$plane_x = 2127px;
$plane_y = 161px;
$plane_offset_x = -2127px;
$plane_offset_y = -161px;
$plane_width = 21px;
$plane_height = 19px;
$plane_total_width = 2942px;
$plane_total_height = 2140px;
$plane_image = 'images/sprite.png';
$plane = 2127px 161px -2127px -161px 21px 19px 2942px 2140px 'images/sprite.png';
$rad-1_x = 2008px;
$rad-1_y = 161px;
$rad-1_offset_x = -2008px;
$rad-1_offset_y = -161px;
$rad-1_width = 119px;
$rad-1_height = 124px;
$rad-1_total_width = 2942px;
$rad-1_total_height = 2140px;
$rad-1_image = 'images/sprite.png';
$rad-1 = 2008px 161px -2008px -161px 119px 124px 2942px 2140px 'images/sprite.png';
$rad-2_x = 1629px;
$rad-2_y = 1466px;
$rad-2_offset_x = -1629px;
$rad-2_offset_y = -1466px;
$rad-2_width = 178px;
$rad-2_height = 184px;
$rad-2_total_width = 2942px;
$rad-2_total_height = 2140px;
$rad-2_image = 'images/sprite.png';
$rad-2 = 1629px 1466px -1629px -1466px 178px 184px 2942px 2140px 'images/sprite.png';
$rad-3_x = 1278px;
$rad-3_y = 1466px;
$rad-3_offset_x = -1278px;
$rad-3_offset_y = -1466px;
$rad-3_width = 238px;
$rad-3_height = 250px;
$rad-3_total_width = 2942px;
$rad-3_total_height = 2140px;
$rad-3_image = 'images/sprite.png';
$rad-3 = 1278px 1466px -1278px -1466px 238px 250px 2942px 2140px 'images/sprite.png';
$rad-4_x = 0px;
$rad-4_y = 1466px;
$rad-4_offset_x = 0px;
$rad-4_offset_y = -1466px;
$rad-4_width = 326px;
$rad-4_height = 315px;
$rad-4_total_width = 2942px;
$rad-4_total_height = 2140px;
$rad-4_image = 'images/sprite.png';
$rad-4 = 0px 1466px 0px -1466px 326px 315px 2942px 2140px 'images/sprite.png';
$red-label_x = 0px;
$red-label_y = 996px;
$red-label_offset_x = 0px;
$red-label_offset_y = -996px;
$red-label_width = 476px;
$red-label_height = 470px;
$red-label_total_width = 2942px;
$red-label_total_height = 2140px;
$red-label_image = 'images/sprite.png';
$red-label = 0px 996px 0px -996px 476px 470px 2942px 2140px 'images/sprite.png';
$rocket_x = 1516px;
$rocket_y = 1466px;
$rocket_offset_x = -1516px;
$rocket_offset_y = -1466px;
$rocket_width = 113px;
$rocket_height = 230px;
$rocket_total_width = 2942px;
$rocket_total_height = 2140px;
$rocket_image = 'images/sprite.png';
$rocket = 1516px 1466px -1516px -1466px 113px 230px 2942px 2140px 'images/sprite.png';
$tooth_x = 1500px;
$tooth_y = 996px;
$tooth_offset_x = -1500px;
$tooth_offset_y = -996px;
$tooth_width = 324px;
$tooth_height = 370px;
$tooth_total_width = 2942px;
$tooth_total_height = 2140px;
$tooth_image = 'images/sprite.png';
$tooth = 1500px 996px -1500px -996px 324px 370px 2942px 2140px 'images/sprite.png';
$truck_x = 2148px;
$truck_y = 161px;
$truck_offset_x = -2148px;
$truck_offset_y = -161px;
$truck_width = 25px;
$truck_height = 11px;
$truck_total_width = 2942px;
$truck_total_height = 2140px;
$truck_image = 'images/sprite.png';
$truck = 2148px 161px -2148px -161px 25px 11px 2942px 2140px 'images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
