/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$car_x = 1470px;
$car_y = 470px;
$car_offset_x = -1470px;
$car_offset_y = -470px;
$car_width = 15px;
$car_height = 10px;
$car_total_width = 1509px;
$car_total_height = 1274px;
$car_image = 'images/sprite.png';
$car = 1470px 470px -1470px -470px 15px 10px 1509px 1274px 'images/sprite.png';
$circle-api_x = 0px;
$circle-api_y = 996px;
$circle-api_offset_x = 0px;
$circle-api_offset_y = -996px;
$circle-api_width = 278px;
$circle-api_height = 278px;
$circle-api_total_width = 1509px;
$circle-api_total_height = 1274px;
$circle-api_image = 'images/sprite.png';
$circle-api = 0px 996px 0px -996px 278px 278px 1509px 1274px 'images/sprite.png';
$circle-document_x = 1033px;
$circle-document_y = 470px;
$circle-document_offset_x = -1033px;
$circle-document_offset_y = -470px;
$circle-document_width = 278px;
$circle-document_height = 278px;
$circle-document_total_width = 1509px;
$circle-document_total_height = 1274px;
$circle-document_image = 'images/sprite.png';
$circle-document = 1033px 470px -1033px -470px 278px 278px 1509px 1274px 'images/sprite.png';
$header-1_x = 1033px;
$header-1_y = 748px;
$header-1_offset_x = -1033px;
$header-1_offset_y = -748px;
$header-1_width = 113px;
$header-1_height = 180px;
$header-1_total_width = 1509px;
$header-1_total_height = 1274px;
$header-1_image = 'images/sprite.png';
$header-1 = 1033px 748px -1033px -748px 113px 180px 1509px 1274px 'images/sprite.png';
$header-2_x = 1146px;
$header-2_y = 748px;
$header-2_offset_x = -1146px;
$header-2_offset_y = -748px;
$header-2_width = 113px;
$header-2_height = 180px;
$header-2_total_width = 1509px;
$header-2_total_height = 1274px;
$header-2_image = 'images/sprite.png';
$header-2 = 1146px 748px -1146px -748px 113px 180px 1509px 1274px 'images/sprite.png';
$header-3_x = 1259px;
$header-3_y = 748px;
$header-3_offset_x = -1259px;
$header-3_offset_y = -748px;
$header-3_width = 113px;
$header-3_height = 180px;
$header-3_total_width = 1509px;
$header-3_total_height = 1274px;
$header-3_image = 'images/sprite.png';
$header-3 = 1259px 748px -1259px -748px 113px 180px 1509px 1274px 'images/sprite.png';
$header-4_x = 1311px;
$header-4_y = 470px;
$header-4_offset_x = -1311px;
$header-4_offset_y = -470px;
$header-4_width = 113px;
$header-4_height = 180px;
$header-4_total_width = 1509px;
$header-4_total_height = 1274px;
$header-4_image = 'images/sprite.png';
$header-4 = 1311px 470px -1311px -470px 113px 180px 1509px 1274px 'images/sprite.png';
$map-1-1_x = 0px;
$map-1-1_y = 0px;
$map-1-1_offset_x = 0px;
$map-1-1_offset_y = 0px;
$map-1-1_width = 1033px;
$map-1-1_height = 498px;
$map-1-1_total_width = 1509px;
$map-1-1_total_height = 1274px;
$map-1-1_image = 'images/sprite.png';
$map-1-1 = 0px 0px 0px 0px 1033px 498px 1509px 1274px 'images/sprite.png';
$map-2-1_x = 0px;
$map-2-1_y = 498px;
$map-2-1_offset_x = 0px;
$map-2-1_offset_y = -498px;
$map-2-1_width = 1033px;
$map-2-1_height = 498px;
$map-2-1_total_width = 1509px;
$map-2-1_total_height = 1274px;
$map-2-1_image = 'images/sprite.png';
$map-2-1 = 0px 498px 0px -498px 1033px 498px 1509px 1274px 'images/sprite.png';
$plane_x = 1424px;
$plane_y = 470px;
$plane_offset_x = -1424px;
$plane_offset_y = -470px;
$plane_width = 21px;
$plane_height = 19px;
$plane_total_width = 1509px;
$plane_total_height = 1274px;
$plane_image = 'images/sprite.png';
$plane = 1424px 470px -1424px -470px 21px 19px 1509px 1274px 'images/sprite.png';
$red-label_x = 1033px;
$red-label_y = 0px;
$red-label_offset_x = -1033px;
$red-label_offset_y = 0px;
$red-label_width = 476px;
$red-label_height = 470px;
$red-label_total_width = 1509px;
$red-label_total_height = 1274px;
$red-label_image = 'images/sprite.png';
$red-label = 1033px 0px -1033px 0px 476px 470px 1509px 1274px 'images/sprite.png';
$truck_x = 1445px;
$truck_y = 470px;
$truck_offset_x = -1445px;
$truck_offset_y = -470px;
$truck_width = 25px;
$truck_height = 11px;
$truck_total_width = 1509px;
$truck_total_height = 1274px;
$truck_image = 'images/sprite.png';
$truck = 1445px 470px -1445px -470px 25px 11px 1509px 1274px 'images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
