.button
  background-color: #fff
  border-radius: 4px
  position: relative
  padding: 0 50px
  text-decoration: none
  color: $mainRedColor
  font-size: 18px
  text-align: center
  box-sizing: border-box
  height: 50px
  line-height: 50px
  display: inline-block
  cursor: pointer

.button--red
  background-color: $mainRedColor
  color: #fff

  &:hover
    background-color: $mainRedColorHover

.button--green
  background-color: $mainGreenColor
  color: #fff

  &:hover
    background-color: $mainGreenColorHover

.button--grey
  background-color: $mainGreyColor
  color: #fff

  &:hover
    background-color: $mainGreyColorHover

.button--center
  width: 250px
  margin: 0 auto
  display: block

.button--with-arrow
  span
    float: left
    display: block
    padding: 0 22px 0 0
    position: relative
    line-height: 50px

    .icon-arrow
      font-size: 15px
      position: absolute
      top: 19px
      right: 0
