.button
  background-color: #fff
  border-radius: 4px
  position: relative
  padding: 0 50px
  text-decoration: none
  color: $mainRedColor
  font-size: 18px
  text-align: center
  box-sizing: border-box
  height: 50px
  line-height: 50px

.button--red
  background-color: $mainRedColor
  color: #fff
