$mainRedColor = #ea5a5a
$mainGreyColor = #52535d
$mainGreenColor = #79bf34
$bgGreyColor = #37383d
$mainFontColor = #3b3b3b
$wrapperWidth = 1024px

$dinMedium = 'DINRoundPro-Medi'
$dinRegular = 'DINRoundPro'
$icomoon = 'icomoon'
