$mainRedColor = #ea5a5a
$mainRedColorHover = #cd4545
$mainGreyColor = #52535d
$mainGreyColorHover = #3e3e45
$mainGreenColor = #79bf34
$mainGreenColorHover = #62a125
$skyColor = #b7e7e7
$mainLemonColor = #97d758
$lightGreyColor = #f9f9f9
$lightBgColor = #f1f5f6
$bgGreyColor = #37383d
$mainFontColor = #3b3b3b
$wrapperWidth = 1024px

$dinMedium = 'DINRoundPro-Medi'
$dinRegular = 'DINRoundPro'
$icomoon = 'icomoon'
