doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Gulp Bootstrap
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/application.css")
    script(type="text/javascript" src="/application.js")
  body
    section.head
      .head-picture
        .picture
          .layer.layer--foreground-layer
          .layer.layer--background-layer
      ul.head-list
        li
          .count 150
          p Типов объектов для аналитики
        li
          .count 8
          p Жизенно важных категорий
        li
          .count 32
          p Среднее кол-во зубов на сотрудника
        li
          .count 240
          p Вариантов преднастройки

    section.page
      | sdfsf
