extends templates/layout

block content
  body
    #social
      h1
        | «Рядом» - облегчает выбор жилья на 33,3% за 1 клик и показывает все необходимое на 1 странице. <br><br> Проект «Рядом» - это он-лайн сервис для экспресс оценки социальной инфраструктуры района. Анализируя более 150 типов объектов и услуг, сервис предлагает рейтинг местности по 8 жизненно-важным категориям относительно выбранного дома.
      img(src="images/social/SocialSharesLanding.png", alt="")

    section.js-page.head
      .head-picture
        .layer.layer-one
        .layer.layer-two
          .car-left.car-1
          .car-left.car-2
          .car-left.car-3
          .car-left.car-4
          .truck-left.truck-1
          .truck-left.truck-2
          .truck-left.truck-3
          .car-right.car-1
          .car-right.car-2
          .car-right.car-3
          .car-right.car-4
          .truck-right.truck-1
          .truck-right.truck-2
        .layer.layer-three
        .layer.layer-four
          .header-img.header-1
          .header-img.header-2
          .header-img.header-3
          .header-img.header-4
          .header-img.plane
        .layer.layer-five
        .red-label
          .icon-logo
          .label-text.text--center
            | Облегчим твой выбор жилья на <span class="hight">33,3%</span> <br> за <span class="hight">1</span> клик и покажем все необходимое <br> на <span class="hight">1</span> странице.
          form
            .fa.fa-search
            input(type="text" placeholder="Введи адрес")
            a(href="def.html" class="button") Оценить
          p.text--center
            | Оцениваем социальную инфраструктуру района по <br> Вашим индивидуальным потребностям.
      ul.head-list
        li
          a
            .count 8
            p
              | Жизненно важных <br> категорий
        li
          a
            .count >150
            p
              | Типов объектов и<br>услуг для аналитики
        li
          a(href="promo.html")
            .count 32
            p
              | Среднее кол-во <br> зубов на сотрудника
        li
          a
            .count 240
            p
              | Вариантов <br> преднастройки


    header
      .header-inner
        a(href="/", class='logo')
          .icon-logo
          .icon2-text-logo
        nav
          ul
            li.active
              span Оценить
            li
              span Как это работает
            li
              span Бизнесу
            li
              span Партнерам
            li
              span Доска почета
            li
              span Контакты
        ul.social-block
          li
            a(href='#')
              .s-icon.icon2-vk
          li
            a(href='#')
              .s-icon.icon2-ins
          li
            a(href='#')
              .s-icon.icon2-fb


    section.js-page.screen.screen-2
      .screen-inner
        h1 Как это работает
        .map
          .map-slider
            .icon-logo-cut
            p.text--center
              | Алгоритм оценки построен на потребностях миллионов пользователей. <br> При расчете учитываются не только расстояние и кол-во объектов в шаговой <br> доступности, но и отзывы о них.
            ul.schemes
              li.active
                svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 841.9" enable-background="new 0 0 595.3 841.9" xml:space="preserve" width="1024px" height="548px")
                  path(class="left" fill="none" d="M594.5,522l-99.9-17.2l-84.8-32.2l-93.4-48.3L253,384.6L68.2,318l-14,31.1l-54.8-19.3" width="150px")
              li
                svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2048 749" enable-background="new 0 0 2048 749" xml:space="preserve" width="1024px" height="548px")
                  path(class="left" fill="none"  d="M2042,6v737H6V6H2042 M2048,0H0v749h2048V0L2048,0z")
                  g
                    rect(y="-0.5" fill="none" width="2048" height="749")
              li 3
          .map-buttons-block
            ul.map-buttons
              li.active Для студента
              li Для семьи
              li Для туриста


    section.screen.screen-3.screen--dark
      .screen-inner
        h2.text--center.text--with-shift
          | Интересно попробовать? Оцени сейчас!
        a(href='def.html' class='button button--red button--center') Перейти к поиску


    section.js-page.screen.screen-4.map-slider-screen
      .screen-inner
        h1 Решение для бизнеса
        .map
          .map-slider
            .icon-logo-cut
            p.text--center
              | Место - одно из ключевых «координат» маркетингового планирования. Вы узнаете, на <br> сколько месторасположение объекта коммерческой недвижимости подходит <br> Вашему Бизнесу.
            ul.schemes
              li.active
                .marker(data-value='88')
                  span.counter-value 0
                  | /100
                .marker(data-value='94')
                  span.counter-value 0
                  | /100
                .marker(data-value='100')
                  span.counter-value 0
                  | /100
                .marker(data-value='67')
                  span.counter-value 0
                  | /100
              li 2
              li 3
          .map-buttons-block
            ul.map-buttons
              li.active Кафе
              li Офис
              li Склад
        .additional-block
          p
            | Оцените предложения коммерческой недвижимости <br> на соответствие вашему бизнесу
          a(href="bus.html", class="button button--green button--with-arrow")
            span
              | Попробовать бесплатно
              .icon-arrow

    section.js-page.screen.screen-5.screen--dark
      .screen-inner
        h1 Партнерская программа
        p.text--center
          | У нас есть инструменты для Вас, которые помогут вам продать объявление быстрее.
        article.text-block.text-block-left
          .circle-api
          .text
            h2 Наше API для оценки
            p
              | Встраивая наше API, вы увеличиваете возможности вашего сайта. Наш код уже используют тестовые сервера. Будьте первыми, кто повысит конверсию вашего сайта.
            a(href="api.html", class="button button--grey button--with-arrow")
              span
                | Подробнее
                .icon-arrow
        article.text-block.text-block-right
          .text
            h2 Собственная площадка
            p
              | Публикуйте ваши объявления на сайте и получайте <br> прямых клиентов, которые ищут именно вас.
            a(href="api.html", class="button button--grey button--with-arrow")
              span
                | Подробнее
                .icon-arrow
          .circle-document


    section.js-page.screen.screen-6
      .screen-inner
        h1 Впиши свое имя в историю создания онлайн сервиса.
        p.text--center
          | Скоро на отдельной странице создателей мы покажем всех, <br> кто помог нашему сервису и внес свой вклад в проект.
        article.text-block.text-block-left
          .circle-rocket
          .text
            p
              | Стартапы, IT-компании, Социальные Сети, Венчурные Фонды, сегодня услышав эти слова мы представляем харизматичных основателей вместе гениальной командой разработчиков, дизайнеров, маркетологов и инвесторов вложивших в революционную идею. Всех их, проделавших нелегкий путь от провалов, до ошеломляющих успехов. Тех, кто несмотря ни на что шел к своей мечте. <br> И как же нам хотелось быть причастными к этой группе людей?!
        p.text--center.text--width-offset.text--without-shift
          | Сегодня, пока наши разработчики трудятся не покладая рук над совершенным кодом, <br> мы призываем всех поучаствовать в процессе разработки он-лайн продукта.
        .additional-block
          p
            | Приглашаем вас в нашу команду!
          a(href="questions.html", class="button button--grey button--with-arrow")
            span
              | Участвовать
              .icon-arrow
        .social-buttons-block
          h2.text--center
            | Следите за развитием проекта!
          ul
            li.button.button--grey
              a(href='#')
                .s-icon.icon2-fb
                | Facebook
            li.button.button--grey
              a(href='#')
                .s-icon.icon2-vk
                | Vkontakte
            li.button.button--grey
              a(href='#')
                .s-icon.icon2-ins
                | Instagram

    footer.footer
      .footer-inner
        p
          | Только до 31 декабря получи доступ к альфа версии и стань одним из 100 создателей сервиса
        a(href='questions.html' class='button button--red')
          span
            | Заполнить анкету
