.footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 0
  background-color: $mainGreyColor
  z-index: 100
  overflow: hidden
  opacity: 0
  transition: all 0.5s ease

  &.displayed
    height: 65px
    opacity: 1
    transition: all 0.5s ease

  .footer-inner
    center($wrapperWidth)
    height: 100%

  p
    color: #fff
    display: block
    float: left
    margin: 0
    line-height: 65px

  .button
    width: 200px
    height: 35px
    float: right
    margin: 15px 0 0 0
    padding: 0
    line-height: 35px
    font-size: 14px
    color: $mainGreyColor

    &:hover
      background-color: transparent

      .icon-pen
        color: #fff

      span
        color: $mainRedColor

    .icon-pen
      float: left
      position: relative
      line-height: 35px
      left: 30px
      top: 1px
