header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 0
  opacity: 0
  background-color: #fff
  z-index: 100
  border-top: 2px solid $mainRedColor
  height: 0
  overflow: hidden
  box-sizing: border-box
  transition: all 0.5s ease

  &.displayed
    height: 70px
    opacity: 1
    transition: all 0.5s ease

  .header-inner
    center($wrapperWidth)

  .logo
    float: left
    padding: 10px 0
    margin: 0 35px 0 0

    .icon-logo
      font-size: 46px
      margin: 0 8px 0 0
      float: left
      color: $mainRedColor

    .logo-text
      float: left

    span
    i
      display: block

    span
      font-size: 26px
      font-weight: bold

    i
      font-size: 9px
      font-style: normal
      margin: 0 3px

  nav
    float: left

    li
      float: left
      font-size: 18px
      margin: 0 35px 0 0
      line-height: 66px
      cursor: pointer
      display: block

      &:hover
        color: $mainRedColor

      &.active
        color: $mainRedColor

        span
          box-shadow: 0 2px 0 0 $mainRedColor
