$skyColor = #b7e7e7

.head
  margin: 0 auto
  width: 100%
  border-bottom: 2px solid $mainRedColor
  box-sizing: border-box

.head-picture
  margin: 0 auto
  height: 100%
  width: 100%
  background-color: $skyColor
  border-top: 10px solid $mainGreyColor
  border-bottom: 1px solid #fff
  box-shadow: 0 2px 1px 0 $mainRedColor
  box-sizing: border-box
  position: relative

  .layer
    height: 755px
    width: 100%
    background-size: 50% auto
    position: absolute
    left: 0
    bottom: 0

    .header-img
      position: absolute
      zoom: 0.5

    .header-1
      sprite($header-1)
      bottom: 400px
      left: 230px

    .header-2
      sprite($header-2)
      bottom: 300px
      left: 600px

    .header-3
      sprite($header-3)
      bottom: 300px
      right: 600px

    .header-4
      sprite($header-4)
      bottom: 400px
      right: 230px

    &.layer-one
      z-index: 50
      background-image: url('../images/header-1.png')

    &.layer-two
      z-index: 40
      background-image: url('../images/header-2.png')

    &.layer-three
      z-index: 30
      background-image: url('../images/header-3.png')

    &.layer-four
      z-index: 20
      background-image: url('../images/header-4.png')

    &.layer-five
      z-index: 10
      background-image: url('../images/header-5.png')

  .red-label
    sprite($red-label)
    position: absolute
    top: -8px
    left: 50%
    margin-left: -238px
    z-index: 100

    .icon-logo
      font-size: 194px
      color: #fff
      margin: 55px auto 15px
      text-align: center

    span
    p
      display: block
      color: #fff

    span
      font-size: 18px
      margin-bottom: 25px

    p
      font-size: 14px

    form
      margin: 15px auto 5px
      width: 384px
      position: relative

      .fa-search
        position: absolute
        color: #fff
        top: 15px
        left: 15px

    .button
      padding: 0

    input
      &[type="text"]
        display: block
        width: 100%
        height: 44px
        background-color: $mainGreyColor
        border: none
        border-radius: 4px
        box-sizing: border-box
        padding: 5px 100px 5px 37px
        outline: none
        color: #fff
        font-size: 14px
        font-family: $dinMedium

        &:hover
        &:focus
          background-color: $mainGreyColorHover
          cursor: pointer

      &[type="submit"]
        width: 90px
        position: absolute
        top: 5px
        right: 5px
        bottom: 5px
        font-size: 14px
        font-family: $dinMedium
        color: $mainGreyColor
        cursor: pointer
        height: auto
        line-height: 17px

        &:hover
          color: $mainRedColor

ul.head-list
  display: block
  height: 60px
  box-sizing: border-box
  center($wrapperWidth)

  li
    col(1/4)
    list-style-type: none
    height: 25px
    padding: 10px 0

  .count
    font-size: 36px
    color: $mainRedColor
    float: left
    margin: 0 5px 0 0

  p
    display: block
    font-size: 13px
    margin: 3px 0 0 0
