// screen 6

.screen-6
  padding: 120px 0 300px 0

  .text
    p
      line-height: 1.8
      font-size: 14px
      display: block
      width: 440px
      float: left
      margin: 0

  .additional-block
    center(550px)
    margin-bottom: 70px

    p
      color: $mainRedColor
      line-height: 50px

    .button
      padding: 0 35px

  .social-buttons-block
    center(660px)
    padding-top: 30px

    li
      col(1/3)
      margin-top: 30px
      padding: 0 17px

      .fa
        position: relative
        top: 2px
        font-size: 24px
        margin: 0 10px 0 0

        &.fa-vk
          font-size: 26px
          top: 1px
