.screen-4
  @extend .screen-2

  h1
    color: $mainGreenColor

  .map-slider
    sprite($map-2-1)

    .icon-logo-cut
      color: $mainGreenColor

  .map-buttons-block
    li
      background-color: $mainGreenColor

      &:hover
        background-color: $mainGreenColorHover

  .additional-block
    center(600px)
    box-sizing: border-box
    border-top: 2px solid $mainGreyColor
    padding: 30px 0 0 0

    p
      float: left
      margin: 0 35px 0 10px

    .button
      padding: 0 25px
