// screen 2

.screen-2
  svg
    path
      stroke: black
      stroke-dasharray: 5

      &.left
        animation: dleft 3000s linear

      &.right
        animation: dright 3000s linear

  .map-slider
    sprite($map-1-1)
    width: 1024px
    height: 498px
    background-repeat: no-repeat
    position: relative

    .icon-logo-cut
      font-size: 56px
      color: $mainRedColor
      position: absolute
      top: 217px
      left: 493px

    p
      text-align: center

    ul.schemes
      li
        display: none

        &.active
          display: block

  .map-buttons-block
    center(660px)
    margin-bottom: 40px

    li
      col(1/3)
      width: 206px
      height: 50px
      border-radius: 5px
      background-color: $mainRedColor
      line-height: 50px
      text-align: center
      font-size: 18px
      color: #fff
      cursor: pointer
      display: block
      position: relative

      &:hover
        background-color: $mainRedColorHover

      &.active
        background-color: $mainGreyColor
        cursor: default

        &:hover
          background-color: $mainGreyColor

        &::before
          content: ''
          top: -17px
          left: 50%
          border: solid transparent
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: transparent
          border-bottom-color: $mainGreyColor
          border-width: 10px
          margin-left: -10px

@keyframes dleft
  to
    stroke-dashoffset: -100000

@keyframes dright
  to
    stroke-dashoffset: -100000
