// screen 4

.screen-4
  @extend .screen-2

  h1
    color: $mainGreenColor

  .map-slider
    sprite($map-2-1)

    .icon-logo-cut
      color: $mainGreenColor

  .map-buttons-block
    li
      background-color: $mainGreenColor

      &:hover
        background-color: $mainGreenColorHover

  .additional-block
    center(770px)

    &::before
      content: ''
      width: 730px
      height: 2px
      position: absolute
      left: 20px
      right: 20px
      top: 0
      box-sizing: border-box
      background-color: $mainGreyColor
