// screen 2

.screen-2
  svg
    path
      stroke: black
      stroke-dasharray: 5

      &.left
        animation: dleft 3000s linear

      &.right
        animation: dright 3000s linear

  .map-slider
    sprite($map-1-1)
    width: 1024px
    height: 498px
    background-repeat: no-repeat
    position: relative

    .lines
      position: absolute

    .icon-logo-cut
      font-size: 56px
      color: $mainRedColor
      position: absolute
      top: 217px
      left: 493px
      z-index: 10

    p
      text-align: center

    ul.schemes
      li
        display: none

        &.active
          display: block

        &:nth-child(1)
          .lines
            top: 168px
            left: 220px
            sprite($pathes11)

          .marker
            &:nth-child(1)
              left: 188px
              top: 94px

            &:nth-child(2)
              left: 382px
              top: 126px

            &:nth-child(3)
              left: 380px
              top: 306px

            &:nth-child(4)
              left: 574px
              top: 153px

            &:nth-child(5)
              left: 798px
              top: 316px

        &:nth-child(2)
          .lines
            top: 156px
            left: 258px
            sprite($pathes12)

          .marker
            &:nth-child(1)
              left: 222px
              top: 256px

            &:nth-child(2)
              left: 266px
              top: 90px

            &:nth-child(3)
              left: 386px
              top: 116px

            &:nth-child(4)
              left: 670px
              top: 122px

            &:nth-child(5)
              left: 706px
              top: 246px

        &:nth-child(3)
          .lines
            top: 176px
            left: 301px
            sprite($pathes13)

          .marker
            &:nth-child(1)
              left: 266px
              top: 90px

            &:nth-child(2)
              left: 366px
              top: 210px

            &:nth-child(3)
              left: 482px
              top: 88px

            &:nth-child(4)
              left: 580px
              top: 292px

          &:nth-child(5)
            left: 706px
            top: 246px

  .map-buttons-block
    center(660px)
    margin-bottom: 40px

    li
      col(1/3)
      width: 206px
      height: 50px
      border-radius: 5px
      background-color: $mainRedColor
      line-height: 50px
      text-align: center
      font-size: 18px
      color: #fff
      cursor: pointer
      display: block
      position: relative

      &:hover
        background-color: $mainRedColorHover

      &.active
        background-color: $mainGreyColor
        cursor: default

        &:hover
          background-color: $mainGreyColor

        &::before
          content: ''
          top: -17px
          left: 50%
          border: solid transparent
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: transparent
          border-bottom-color: $mainGreyColor
          border-width: 10px
          margin-left: -10px

@keyframes dleft
  to
    stroke-dashoffset: -100000

@keyframes dright
  to
    stroke-dashoffset: -100000
