$skyColor = #b7e7e7

.head
  margin: 0 auto
  width: 100%
  border-bottom: 2px solid $mainRedColor
  box-sizing: border-box
  overflow: hidden

.car
  position: absolute
  bottom: 0
  sprite($car)

.truck
  position: absolute
  bottom: 0
  sprite($truck)

.head-picture
  margin: 0 auto
  height: 100%
  width: 100%
  background-color: $skyColor
  border-top: 10px solid $mainGreyColor
  border-bottom: 1px solid #fff
  box-shadow: 0 2px 1px 0 $mainRedColor
  box-sizing: border-box
  position: relative

  .layer
    height: 658px
    width: 100%
    position: absolute
    left: 0
    bottom: 0

    .header-img
      position: absolute

    .plane
      sprite($plane)
      bottom: 500px
      left: 200px

    .header-1
      sprite($header-1)
      bottom: 230px
      left: 120px

    .header-2
      sprite($header-2)
      bottom: 190px
      left: 300px

    .header-3
      sprite($header-3)
      bottom: 190px
      right: 300px

    .header-4
      sprite($header-4)
      bottom: 230px
      right: 120px

    .car-left
      @extend .car
      left: -100px

      &.car-1
        bottom: 30px
        animation: movementLeft 40s 0s 1000 linear

      &.car-2
        bottom: 40px
        animation: movementLeft 40s 12s 1000 linear

      &.car-3
        bottom: 30px
        animation: movementLeft 40s 24s 1000 linear

      &.car-4
        bottom: 40px
        animation: movementLeft 40s 35s 1000 linear

    .truck-left
      @extend .truck
      left: -100px

      &.truck-1
        bottom: 35px
        animation: movementLeft 40s 6s 1000 linear

      &.truck-2
        bottom: 28px
        animation: movementLeft 40s 16s 1000 linear

      &.truck-3
        bottom: 35px
        animation: movementLeft 40s 28s 1000 linear

    .car-right
      @extend .car
      right: -100px
      transform: scaleX(-1)

      &.car-1
        bottom: 5px
        animation: movementRight 40s 0s 1000 linear

      &.car-2
        bottom: 15px
        animation: movementRight 40s 12s 1000 linear

      &.car-3
        bottom: 5px
        animation: movementRight 40s 24s 1000 linear

      &.car-4
        bottom: 15px
        animation: movementRight 40s 35s 1000 linear

    .truck-right
      @extend .truck
      right: -100px
      transform: scaleX(-1)

      &.truck-1
        bottom: 7px
        animation: movementRight 40s 6s 1000 linear

      &.truck-2
        bottom: 14px
        animation: movementRight 40s 26s 1000 linear

    &.layer-one
      z-index: 50
      background-image: url('../images/header-1.png')

    &.layer-two
      z-index: 40
      background-image: url('../images/header-2.png')

    &.layer-three
      z-index: 30
      background-image: url('../images/header-3.png')

    &.layer-four
      z-index: 20
      background-image: url('../images/header-4.png')

    &.layer-five
      z-index: 10
      background-image: url('../images/header-5.png')

  .red-label
    sprite($red-label)
    position: absolute
    top: -8px
    left: 50%
    margin-left: -238px
    z-index: 100

    .icon-logo
      font-size: 194px
      color: #fff
      margin: 30px auto 15px
      text-align: center
      display: block

    .label-text
    p
      display: block
      color: #fff

    .label-text
      font-size: 18px
      margin-bottom: 25px

    p
      font-size: 14px

    form
      margin: 15px auto 5px
      width: 384px
      position: relative

      .fa-search
        position: absolute
        color: #fff
        top: 15px
        left: 15px

    .button
      padding: 0

    input
      &[type="text"]
        display: block
        width: 100%
        height: 44px
        background-color: $mainGreyColor
        border: none
        border-radius: 4px
        box-sizing: border-box
        padding: 5px 100px 5px 37px
        outline: none
        color: #fff
        font-size: 14px
        font-family: $dinMedium

        &:hover
        &:focus
          background-color: $mainGreyColorHover
          cursor: pointer

      &[type="submit"]
        width: 90px
        position: absolute
        top: 5px
        right: 5px
        bottom: 5px
        font-size: 14px
        font-family: $dinMedium
        color: $mainGreyColor
        cursor: pointer
        height: auto
        line-height: 17px
        outline: 0 none

        &:hover
          color: $mainRedColor

ul.head-list
  display: block
  height: 90px
  box-sizing: border-box
  center($wrapperWidth)

  li
    col(1/4)
    list-style-type: none
    height: 90px
    width: 21%
    margin-right: 5%

    &:nth-child(1)
      width: 180px

    &:nth-child(2)
      margin-right: 8%

  .count
    height: 90px
    line-height: 90px
    font-size: 50px
    color: $mainRedColor
    float: left
    margin: 0 7px 0 0

  p
    display: block
    font-size: 13px
    margin: 31px 0 0 0
